.calBody{
    height: 600x;
    width: 250px;
    display: flex;
    flex-direction: column;
    
}
.showNums{
    height: 80;
    width:  200px;
    background-color: aqua;
    border: solid 1px black;
}