body{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}
.calBody{
    height: 600x;
    width: 250px;
    display: flex;
    flex-direction: column;
    
}

.showNums{
    display: flex;
    overflow-wrap: break-word;
    height: 36px;
    max-width:  248px;
    background-color: aqua;
    border: solid 1px black;
}